.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 1.5rem;
}

.featureIcon {
  font-size: 2.75rem;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0.75rem;
}
